/* Box Model Hack */
* {
  box-sizing: border-box;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}

/******************************************
/* ^ basics
/* v container
/*******************************************/

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}
.container {
  height: 100%;
  width: 100%;
  max-width: 700px;
}
.container::before,
.container::after {
  content: '';
  background: grey;
  display: block;
  position: absolute;
  top: 0;
  height: 100%;
  width: 400px;
  z-index: -1;
}
.container::before {
  left: 0
}
.container::after {
  right: 0
}

/******************************************
/* ^ container
/* v header
/*******************************************/

header {
  background-color: hsl(0, 10%, 10%);
  padding-top: 1.5rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  position: sticky;
  top: 0;
}
header h1 {
  flex-basis: 100%;
  text-align: center;
  margin: 0;
  font-size: 4rem;
  text-shadow: 1px 1px 2px pink;
}
header h2 {
  margin-left: 1.5rem;
  font-size: 2rem;
}
header button {
  margin-right: 1.5rem;
  height: 3rem;
  width: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  height: 5px;
  width: 100%;
  margin-top: 0.5rem;
  background-image: linear-gradient(to right, white 5%, blue, black 45%, black 55%, red, green 95%);
}

/******************************************
/* ^ header
/* v options
/*******************************************/

/* options-modal goes here */

/******************************************
/* ^ options
/* v main
/*******************************************/

main {
  width: 100%;
  height: 100dvh;
  background-color: aquamarine;
}

/******************************************
/* ^ main
/* v players
/*******************************************/

#players {
  min-height: 5rem;
  color: black;
  padding: 1rem;
}
.player {
  background-color: lightslategray;
  border: 2px solid black;
  border-radius: 0.5rem;
}
.playerMain {
  /* border-bottom: 2px solid black; */
  font-size: 2rem;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
}
.playerMain img {
  height: 2rem;
  width: 2rem;
  flex-basis: 10%;
  padding: 0;
  margin: 0;
  align-self: center;
}
.playerMain img:first-child {
  border-right: 2px solid black;
}
.blessing { /* change image, looks bad, grab token art + make own png */ 
  background-color: gold;
  border-radius: 50%;
}


/******************************************
/* ^ players
/* v add/remove
/*******************************************/

.addORremove {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.addORremove button {
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  cursor: pointer;
}
.addORremove button.two {
  flex-basis: 45%;
}
.addORremove button.three {
  flex-basis: 30%;
}
.addORremove button.daytime {
  display: inline;
}